@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-color);
}

li,p,span,a {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 24px;
}

svg,img {
  display: block;
}

button:hover {
  cursor: pointer;
}

:root {
  --yellow-color: #FFF956;
  --blue-color: #005C9D;
  --black-color: #2B2B2B;
}

.container {
  padding: 8rem 0 6rem 0;
}

.row {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1600px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.4;
}

.heading {
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.heading-2 {
  font-weight: 300;
  margin-bottom: 32px;
}

.sub-heading {
  margin-bottom: 16px;
  color: #fff;
  text-align: center;
}

/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 98;
  padding: 12px 24px;
  background-color: transparent;
  transition: background-color 300ms ease;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#company_logo {
  width: 75px;
}

.nav_list {
  display: flex;
  gap: 32px;
}

.nav_link {
  color: #fff;
}

.nav_contact-container {
  background-color: var(--black-color);
  border-radius: 12px;
  padding: 8px 24px;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
}

.nav_btn {
  background-color: transparent;
  border: none;
  display: none;
  z-index: 90;
}

/* MODAL */
#modal {
  background-color: #ffffffd1;
  backdrop-filter: blur(6px);
  position: fixed;
  inset: 0;
  z-index: 90;
  transition: visibility 500ms ease, opacity 500ms ease;
}

.hide_modal {
  visibility: hidden;
  opacity: 0;
}

.modal_line {
  width: 80%;
  height: 1px;
  background-color: #00000050;
  margin: 24px 0;
}

.modal_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0 24px;
}

.modal_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal_list li {
  text-align: end;
}

.modal_link {
  color: #000;
}

.exit_btn {
  position: absolute;
  top: 24px;
  right: 52px;
  border: none;
  background-color: transparent;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.exit {
  width: 18px;
}

/* home */
#home {
  background-image: url('assets/living-room-with-white-walls-and-furniture.webp');
}

#home,
#service_home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.text_container {
  position: absolute;
  top: 35%;
  left: 24px;
  color: #fff;
  width: 700px;
}

#web_title {
  font-size: 48px;
}

.reputation {
  font-size: 10px;
  font-weight: 300;
}

.text_container h2 {
  font-size: 16px;
}

.home_line {
  position: absolute;
  bottom: 100px;
  background-color: #fff;
  width: 100%;
  height: 1px;
}

.buttons_container {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.light_green-btn,
#contact_btn,
#service_btn {
  padding: 8px 12px;
  border-radius: 12px;
}

.light_green-btn {
  background-color: var(--blue-color);
  color: #fff;
}

#contact_btn {
  color: #fff;
}

#service_btn {
  border: 1px solid #fff;
  color: #fff;
}

.home-reviews {
  position: absolute;
  bottom: 24px;
  left: 24px;

  display: flex;
  align-items: center;
  gap: 32px;
}

.review-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.review-icon {
  width: 50px;
}

.review-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #fff;
}

.review_num {
  color: #fff;
}

.stars {
  display: flex;
}

.home-services {
  position: absolute;
  bottom: 32px;
  right: 24px;
  display: flex;
  align-items: center;
  gap: 32px;
  color: #fff;
  font-size: 12px;
}

/* about */
.about-header {
  color: #fff;
  font-size: 48px;
  margin-bottom: 80px;
  text-align: center;
}

.about_container {
  display: flex;
  gap: 32px;
  width: 100%;
  align-items: center;

}

.about_text-container {
  color: #fff;
  font-size: 16px;
  width: 45%;

  display: flex;
  flex-direction: column;
}

.about_text-container p {
  margin-bottom: 32px;
}

.about_img-wrapper {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.about_img {
  width: 100%;
}

.social-media-about {
  display: flex;
}

.social-media-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* keypoints */
#keypoints {
  background-color: var(--blue-color);
}

.card-container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  background-color: #fff;
  width: 320px;
  height: 350px;
  padding: 32px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.trophy-card {
  background-color: var(--blue-color);
  color: #fff;
  border: 1px solid #fff;
}

.card_icon {
  width: 75px;
}

.PCA-icon {
  width: 175px;
}

.card_icon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card-title {
  font-weight: 500;
}

.card-sub-title {
  color: #5F5F5F;
  font-size: 12px;
}

.trophy-sub {
  color: #ffffff99;
}

.icon-info {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-text {
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}

/* services */
#services {
  position: relative;
  background-color: var(--light-yellow-color);
  width: 96%;
  max-width: 1600px;
  margin: 0 auto;
  border-radius: 16px;
}

.service-container {
  position: relative;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 32px;
  justify-content: center;
}

.service-box {
  position: relative;
  width: 260px;
  height: 350px;
  overflow: hidden;
  border-radius: 12px;
}

.paint_img,
.repair_img,
.maintenance_img,
.clean_img {
  background-position: center;
  background-size: cover;
}

.paint_img {
  background-image: url('assets/kitchen-painted-white.webp');
  transition: scale 300ms ease;
}


.repair_img {
  background-image: url('assets/repair-services-residential-commercial\ 1.webp');
}

.maintenance_img {
  background-image: url('assets/maintenance_front.webp');
}

.clean_img {
  background-image: url('assets/window-cleaning-service.webp');
  cursor: pointer;
  transition: scale 300ms ease;
}

.service_type-container {
  position: absolute;
  bottom: 0;
  opacity: 0;
  bottom: -10px;
  left: 2px;
  right: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: opacity 500ms ease, bottom 500ms ease;
}

.paint_img:hover .service_type-container {
  opacity: 1;
  bottom: 12px;
}

.service_type {
  color: #fff;
}

#service-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.service-text {
  position: absolute;
  bottom: 100px;
  left: 4px;
  right: 4px;
  text-align: center;
  color: #fff;
}

.service_overlay {
  opacity: 0.55;
}

.service_link {
  transition: scale 300ms ease;
}

.service_link:hover,
.paint_img:hover,
.clean_img:hover {
  scale: 0.98;
}

#service_square {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.cleaning_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  color: #000;
  padding: 24px;
  border-radius: 12px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease, visibility 400ms ease;
}

.clean_exit-btn {
  z-index: 100;
  position: fixed;
  right: 24px;
  top: 56px;
  border: none;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
}

.cleaning_overlay {
  position: fixed;
  inset: 0;
  background-color: #00000090;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}

/* testimonials */

#testimonials {
  background-color: var(--blue-color);
  color: #fff;
}

.testimonial-row {
  display: flex;
  justify-content: space-between;
}

.testimonial-info {
  width: 50%;
}

.review-btn-wrapper {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.read-review,
.write-review {
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  font-weight: 200;
  border-radius: 12px;
}

.write-review {
  background-color: var(--yellow-color);
  color: #000;
  border: 1px solid var(--yellow-color);
}

.read-review {
  border: 1px solid #fff;
}

/* Past work */
.past_projects-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past_projects-carousel {
  margin-top: 80px;
  width: 100%;
  max-width: 840px;
  display: flex;
  gap: 8px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-color: transparent;
  border-radius: 12px;
}

.past_projects-carousel::-webkit-scrollbar {
  display: none;
}

.picture-box {
  background-color: var(--blue-color);
  color: #fff;
  width: 95%;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 12px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.picture-box {
  padding: 0;
  width: 95%;
  height: 400px;
  overflow: hidden;
  background-color: transparent;
}

.project_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* footer */
footer {
  background-color: #1E1E1E;
  margin: 16px;
  border-radius: 8px;
  color: #fff;
}

.footer-container {
  padding: 32px;
}

.footer-row .heading-2 {
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 48px;
}

.contact-box {
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  display: flex;
  padding: 8px;
}

.contact-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  width: 150px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.email-info {
  width: 300px;
}

.mail {
  color: #fff;
}

.service-title {
  font-weight: 200;
}

.footer-link {
  font-size: 12px;
  color: #fff;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-nav {
  margin: 8rem 0;
  display: flex;
  justify-content: center;
  gap: 240px;
}

.credit-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-icon {
  width: 16px;
}

.social-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.copyright {
  font-size: 12px;
  text-align: center;
}

/* service images */
.residential_img {
  background-image: url('assets/kitchen-painted-white.webp');
}

.commercial_img {
  background-image: url('assets/white-office-space.webp');
}

.repair_img {
  background-image: url('assets/cabinet-repair-with-drill.webp');
}

.maintenance_img {
  background-image: url('assets/maintenance_front.webp');
}

.service-h2 {
  margin-bottom: 32px;
}

/* interior services */
.interior_service-container,
.exterior_service-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exterior_service-container {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.service_text-container {
  width: 45%;
}

.service_text-container {
  color: #fff;
  font-size: 14px;
}

.service_text {
  margin: 4px 0 12px 0;
  width: 80%;
}

.interior_img-wrapper {
  width: 45%;
}

.interior_img {
  width: 100%;
  border-radius: 12px;
}

.special_service {
  position: relative;
  background-color: var(--light-yellow-color);
  color: #000;
  width: 350px;
  padding: 24px 16px;
  margin-top: 32px;
  border-radius: 8px;
  height: 70px;
  transition: height 400ms ease;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.special_service:hover {
  cursor: pointer;
}

.height_change {
  height: 180px;
  align-items: start;;
}

#plus_icon {
  transition: rotate 300ms ease;
  transition: transform 300ms ease ;
}

.plus_icon-rotate {
  transform: rotate(45deg);
}

.service_hidden {
  position: absolute;
  top: 60px;
  left: 16px;
  right: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease, visibility 200ms;
}

.text_appear {
  opacity: 1;
  visibility: visible;
  transition: opacity 800ms ease, visibility 800ms;
}

.color_img-wrapper {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.color_img {
  width: 100%;
  object-fit: cover;
  object-position: left;
  padding-top: -50px;
}

.color_text-container {
  position: absolute;
  top: 40px;
  width: 650px;
  right: 100px;
  color: #fff;
  text-align: end;
}

.color_text-container h3 {
  font-size: 56px;
}

.color_text-container p {
  text-align: end;
}

.step_container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.step {
  color: #fff;
  display: flex;
  gap: 24px;
  align-items: center;
  width: 800px;
}

.step_icon {
  width: 40px;
}

.hand_shake {
  width: 28px;
}

.line {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  background-color: #ffffff50;
}


/* JS classes */
.solid {
  background-color: #ffffffba;
  backdrop-filter: blur(6px);
}

.text_color {
  color: #000;
  transition: color 300ms ease;
}

.btn_appear {
  opacity: 1;
  visibility: visible;
}

.btn_hidden {
  opacity: 0;
  visibility: hidden;
}

.show_modal {
  opacity: 1;
  visibility: visible;
}

/* 1190px */
@media (max-width: 1190px) {
  .card-container {
    justify-content: center;
  }
}


/* 1060px */
@media (max-width: 1060px) {
  .nav_btn {
    display: contents;
  }

  .nav_list {
    display: none;
  }

  .about_container {
    flex-direction: column-reverse;
  }

  .about_img-wrapper {
    width: 100%;
  }

  .about_text-container {
    width: 100%;
  }

  .locations {
    width: calc(100% / 4);
  }

  .interior_service-container,
  .exterior_service-container {
    flex-direction: column-reverse;
    gap: 32px;
    justify-content: center;
  }

  .service_text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .service_text {
    width: 80%;
    text-align: center;
  }

  .interior_img-wrapper {
    width: 100%;
  }

  .footer-nav {
    gap: 80px;
  }
}

/* 775px */

@media (max-width: 775px) {
  .text_container {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .buttons_container {
    justify-content: center;
  }

  .home-services {
    display: none;
  }

  .home-reviews {
    left: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
  }

  .footer-nav {
    flex-direction: column;
    gap: 32px;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }
}

/* 650px */
@media (max-width: 650px) {
   

  .exit_btn {
    right: 32px;
    top: 26px;
  }

  .exit {
    width: 14px;
  }

  .cleaning_modal {
    width: 90%;
  }
}