@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/raleway-v34-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/raleway-v34-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/raleway-v34-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
  letter-spacing: 2.5px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-color);
}

li,p,span,a {
  list-style-type: none;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 24px;
}

svg,img {
  display: block;
}

button:hover {
  cursor: pointer;
}

:root {
  --yellow-color: #FFF956;
  --light-yellow-color: #FFFED7;
  --black-color: #2B2B2B;
}

.container {
  padding: 8rem 0 6rem 0;
}

.row {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1600px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.4;
}

.heading {
  color: #fff;
}

.sub-headings {
  margin-bottom: 16px;
}

.centered-heading {
  text-align: center;
}

.shorten_heading {
  width: 60%;
  font-size: 14px;
  margin-top: 8px;
}

/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 98;
  padding: 12px 24px;
  background-color: transparent;
  transition: background-color 300ms ease;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#company_logo {
  width: 75px;
}

.nav_list {
  display: flex;
  gap: 32px;
}

.nav_link {
  color: #fff;
}

.nav_contact-container {
  background-color: var(--black-color);
  border-radius: 12px;
  padding: 8px 24px;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
}

.nav_btn {
  background-color: transparent;
  border: none;
  display: none;
  z-index: 90;
}

/* MODAL */
#modal {
  position: fixed;
  inset: 0;
  background-color: var(--light-yellow-color);
  z-index: 90;
  transition: visibility 500ms ease, opacity 500ms ease;
}

.hide_modal {
  visibility: hidden;
  opacity: 0;
}

.modal_line {
  width: 80%;
  height: 1px;
  background-color: #00000050;
  margin: 24px 0;
}

.modal_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0 24px;
}

.modal_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal_list li {
  text-align: end;
}

.modal_link {
  color: #000;
}

.exit_btn {
  position: absolute;
  top: 24px;
  right: 52px;
  border: none;
  background-color: transparent;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.exit {
  width: 18px;
}

/* home */
#home {
  background-image: url('assets/living-room-with-white-walls-and-furniture.webp');
}

#home,
#service_home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.text_container {
  position: absolute;
  bottom: 200px;
  left: 24px;
  color: #fff;
}

#web_title {
  font-size: 48px;
}

.text_container h2 {
  font-size: 16px;
}

.home_line {
  position: absolute;
  bottom: 160px;
  background-color: #ffffff75;
  width: 100%;
  height: 1px;
}

.buttons_container {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.light_green-btn,
#contact_btn,
#service_contact-btn {
  padding: 16px 32px;
  border-radius: 12px;
  font-weight: 300;
}

.light_green-btn {
  background-color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  color: #000;
  transition: color 300ms ease, background-color 300ms ease, border 300ms ease;
}

#contact_btn {
  border: 1px solid #fff;
  color: #fff;
  transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease;
}

.arrow_link {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

#arrow-icon {
  scale: 0.6;
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  padding: 24px;
  border-radius: 100px;
  animation: float 2s ease-in-out infinite;
}

#arrow-icon:hover #arrow,
#arrow-icon:hover {
  fill: var(--yellow-color);
  border: 1px solid var(--yellow-color);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}


/* about */
.heading-1 {
  font-size: 24px;
  margin-bottom: 80px;
}

.heading-1::after,
.heading-2::after {
  content: url('assets/rectangle-shape.svg');
  vertical-align: -2px;
  margin-left: 12px;
}

.about_container {
  display: flex;
  gap: 32px;
  width: 100%;
  align-items: center;

}

.about_text-container {
  color: #fff;
  font-size: 14px;
  width: 45%;

  display: flex;
  flex-direction: column;
}

.about_text-container p {
  margin-bottom: 32px;
}

.about_img-wrapper {
  position: relative;
  width: 50%;
  overflow: hidden;
  border-radius: 16px;
}

.about_img {
  width: 100%;
}

.rectangle-1,
.rectangle-2 {
  position: absolute;
  width: 16px;
  background-color: var(--black-color);
  z-index: 80;
}

.rectangle-1 {
  top: 0;
  left: 100px;
  bottom: 0;
}

.rectangle-2 {
  top: 0;
  bottom: 0;
  right: 200px;
}

.location_list {
  display: flex;
  flex-wrap: wrap;
}

.locations {
  width: calc(100%/2.2);
  padding: 4px;
  transition: color 500ms ease;
}

.locations:hover {
  color: var(--yellow-color);
}

/* keypoints */

.keypoints-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.keypoint-experience {
  color: var(--yellow-color);
  font-size: 48px;
  font-weight: 100;
  margin-top: 6px;
}

.keypoint-box {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

}

.keypoint-text {
  color: #fff;
  text-align: center;
}

#keypoint-icon {
  width: 30px;
}


/* services */
#services {
  position: relative;
  background-color: var(--light-yellow-color);
  width: 96%;
  max-width: 1600px;
  margin: 0 auto;
  border-radius: 16px;
}

.service-container {
  position: relative;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 32px;
  justify-content: center;
}

.service-box {
  position: relative;
  width: 260px;
  height: 350px;
  overflow: hidden;
  border-radius: 12px;
}

.paint_img,
.repair_img,
.maintenance_img,
.clean_img {
  background-position: center;
  background-size: cover;
}

.paint_img {
  background-image: url('assets/kitchen-painted-white.webp');
  transition: scale 300ms ease;
}


.repair_img {
  background-image: url('assets/repair-services-residential-commercial\ 1.webp');
}

.maintenance_img {
  background-image: url('assets/maintenance_front.webp');
}

.clean_img {
  background-image: url('assets/window-cleaning-service.webp');
  cursor: pointer;
  transition: scale 300ms ease;
}

.service_type-container {
  position: absolute;
  bottom: 0;
  opacity: 0;
  bottom: -10px;
  left: 2px;
  right: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: opacity 500ms ease, bottom 500ms ease;
}

.paint_img:hover .service_type-container {
  opacity: 1;
  bottom: 12px;
}

.service_type {
  color: #fff;
}

#service-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.service-text {
  position: absolute;
  bottom: 100px;
  left: 4px;
  right: 4px;
  text-align: center;
  color: #fff;
}

.service_overlay {
  opacity: 0.55;
}

.service_link {
  transition: scale 300ms ease;
}

.service_link:hover,
.paint_img:hover,
.clean_img:hover {
  scale: 0.98;
}

#service_square {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.cleaning_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  color: #000;
  padding: 24px;
  border-radius: 12px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease, visibility 400ms ease;
}

.clean_exit-btn {
  z-index: 100;
  position: fixed;
  right: 32px;
  top: 32px;
  border: none;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
}

.cleaning_overlay {
  position: fixed;
  inset: 0;
  background-color: #00000090;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}


/* testimonials */
.testimonial_row,
.past_projects-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review_carousel,
.past_projects-carousel {
  margin-top: 80px;
  width: 100%;
  max-width: 840px;
  display: flex;
  gap: 8px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-color: transparent;
  border-radius: 12px;
}

.review_carousel::-webkit-scrollbar,
.past_projects-carousel::-webkit-scrollbar {
  display: none;
}

.comment-box {
  height: 500px;
}

.comment-box,
.picture-box {
  background-color: var(--light-yellow-color);
  width: 95%;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 12px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.review-text {
  text-align: center;
}

.review_container {
  margin-top: 56px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.picture-box {
  padding: 0;
  width: 95%;
  overflow: hidden;
  background-color: transparent;
}

.project_img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* contact */

.contact_row {
  width: 90%;
  background-color: var(--yellow-color);
  border-radius: 12px;
  padding: 24px;
}

.contact_container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.phone,
.form,
.mail {
  color: #000;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* footer */
footer {
  position: relative;
  background-color: var(--light-yellow-color);
  padding: 24px 0;
}

.footer_row {
  position: relative;
  display: flex;
  gap: 56px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list_name {
  margin-bottom: 12px;
}

.footer_link {
  color: #000;
}

.footer-wrapper {
  position: absolute;
  right: 24px;
  width: 650px;
  text-align: end;
  top: 24px;
  
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 24px;
}

.footer-wrapper p {
  font-size: 14px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card_img {
  width: 150px;
  align-self: flex-end;
  margin-top: 8px;
}

.copyright {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 12px;
}

/* service images */
.residential_img {
  background-image: url('assets/kitchen-painted-white.webp');
}

.commercial_img {
  background-image: url('assets/white-office-space.webp');
}

.repair_img {
  background-image: url('assets/cabinet-repair-with-drill.webp');
}

.maintenance_img {
  background-image: url('assets/maintenance_front.webp');
}

.service-h2 {
  margin-bottom: 32px;
}

/* interior services */
.interior_service-container,
.exterior_service-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exterior_service-container {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.service_text-container {
  width: 45%;
}

.service_text-container {
  color: #fff;
  font-size: 14px;
}

.service_text {
  margin: 4px 0 12px 0;
  width: 80%;
}

.interior_img-wrapper {
  width: 45%;
}

.interior_img {
  width: 100%;
  border-radius: 12px;
}

.special_service {
  position: relative;
  background-color: var(--light-yellow-color);
  color: #000;
  width: 350px;
  padding: 24px 16px;
  margin-top: 32px;
  border-radius: 8px;
  height: 70px;
  transition: height 400ms ease;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.special_service:hover {
  cursor: pointer;
}

.height_change {
  height: 180px;
  align-items: start;;
}

#plus_icon {
  transition: rotate 300ms ease;
  transition: transform 300ms ease ;
}

.plus_icon-rotate {
  transform: rotate(45deg);
}

.service_hidden {
  position: absolute;
  top: 60px;
  left: 16px;
  right: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease, visibility 200ms;
}

.text_appear {
  opacity: 1;
  visibility: visible;
  transition: opacity 800ms ease, visibility 800ms;
}

.color_img-wrapper {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.color_img {
  width: 100%;
  object-fit: cover;
  object-position: left;
  padding-top: -50px;
}

.color_text-container {
  position: absolute;
  top: 40px;
  width: 650px;
  right: 100px;
  color: #fff;
  text-align: end;
}

.color_text-container h3 {
  font-size: 56px;
}

.color_text-container p {
  text-align: end;
}

.step_container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.step {
  color: #fff;
  display: flex;
  gap: 24px;
  align-items: center;
  width: 800px;
}

.step_icon {
  width: 40px;
}

.hand_shake {
  width: 28px;
}

.line {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  background-color: #ffffff50;
}


/* JS classes */
.solid {
  background-color: var(--light-yellow-color);
}

.text_color {
  color: #000;
  transition: color 300ms ease;
}

.btn_appear {
  opacity: 1;
  visibility: visible;
}

.btn_hidden {
  opacity: 0;
  visibility: hidden;
}

.show_modal {
  opacity: 1;
  visibility: visible;
}


/* 1060px */
@media (max-width: 1060px) {
  .nav_btn {
    display: contents;
  }

  .nav_list {
    display: none;
  }

  .about_container {
    flex-direction: column-reverse;
  }

  .about_img-wrapper {
    width: 100%;
  }

  .about_text-container {
    width: 100%;
  }

  .locations {
    width: calc(100% / 4);
  }

  .interior_service-container,
  .exterior_service-container {
    flex-direction: column-reverse;
    gap: 32px;
    justify-content: center;
  }

  .service_text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .service_text {
    width: 80%;
    text-align: center;
  }

  .interior_img-wrapper {
    width: 100%;
  }
}

/* 980px */
@media (max-width: 980px) {
  .footer_row {
    flex-direction: column;
  }

  .shorten_heading {
    width: 80%;
  }
}

/* 880px */

@media (max-width: 880px) {
  .keypoints-container {
    flex-direction: column;
  }

  .service-container {
    grid-template-columns: repeat(1, 250px);
  }

  footer {
    height: 850px;
  }

  .footer-wrapper {
    left: 24px;
    top: 550px;
    width: 80%;
    text-align: left;
  }

  .cards {
    align-self: baseline;
  }

  .copyright {
    text-align: center;
    left: 2px;
    right: 2px;
  }

  .locations {
    width: calc(100% / 2);
  }

  .step {
    width: 100%;
  }

  .color_text-container {
    right: 24px;
    width: 90%;
  }

  .color_text-container h3 {
    font-size: 24px;
  }

  .color_img-wrapper {
    height: 400px;
  }

  .color_img {
    height: 400px;
  }
}

/* 650px */
@media (max-width: 650px) {
  #arrow-icon {
    scale: 0.4;
  }

  #contact_btn,
  #service_contact-btn,
  .light_green-btn {
    padding: 8px 16px;
  }

  #web_title {
    font-size: 24px;
    text-align: center;
  }

  .text_container {
    left: 24px;
    right: 24px;
    text-align: center;
  }

  .text_container h2 {
    font-size: 14px;
  }

  .heading-1 {
    font-size: 16px;
    line-height: 2rem;
  }

  p, a, button {
    font-size: 12px;
  }

  .nav_icon,
  .modal_btn {
    width: 18px;
  }

  #company_logo {
    width: 60px;
  }

  nav {
    padding: 12px 8px;
  }

  .text_container {
    bottom: 275px;
  }

  .home_line {
    bottom: 250px;
  }

  .buttons_container {
    bottom: 125px;
    flex-direction: column;
    right: 24px;
  }

  #arrow-icon {
    right: 50%;
    transform: translateX(50%);
  }

  .arrow_link {
    right: 50%;
    transform: translateX(50%);
  }

  .rectangle-2 {
    right: 60px;
  }

  .rectangle-1,
  .rectangle-2 {
    width: 4px;
  }
  
  .contact_row {
    width: 95%;
    padding: 24px 12px;
  }

  .contact_icon {
    width: 14px;
  } 

  .comment-box {
    padding: 20px;
  }

  .review_container p {
    text-align: center;
  }

  .exit_btn {
    right: 32px;
    top: 26px;
  }

  .exit {
    width: 14px;
  }
}